services:
  ################## ELASTICSEARCH ######################
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.18.5
    container_name: elasticsearch-8.18.5
    environment:
      "discovery.type": "single-node"
      "xpack.security.enabled": "false"
      "xpack.security.http.ssl.enabled": "false"
      "logger.org.elasticsearch.plugins": "WARN"
      "logger.org.elasticsearch.cluster.metadata": "WARN"
      "logger.org.elasticsearch.xpack": "WARN"
      "logger.org.elasticsearch.telemetry": "WARN"
      "logger.org.elasticsearch.threadpool": "WARN"
      "logger.org.elasticsearch.cluster.routing.allocation": "WARN"
      "logger.org.elasticsearch.http": "WARN"
    ports:
      - "9200:9200"
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1" ]
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - elastic
  ################## KIBANA ############################
  kibana:
    image: docker.elastic.co/kibana/kibana:8.18.5
    container_name: kibana-8.18.5
    environment:
      XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: d1a66dfd-c4d3-4a0a-8290-2abcb83ab3aa
    ports:
      - 5601:5601
    networks:
      - elastic
    deploy:
      resources:
        limits:
          cpus: '2.0'
        reservations:
          cpus: '1.0'
    depends_on:
      elasticsearch:
        condition: service_healthy
networks:
  elastic:
